[Desktop Entry]
Name=shadPS4
Exec=shadps4
Terminal=false
Type=Application
Icon=shadps4
Comment=shadPS4 Emulator
Categories=Game;
StartupWMClass=shadps4;
