[submodule "externals/discord-rpc"]
	path = externals/discord-rpc
	url = https://github.com/shadps4-emu/ext-discord-rpc.git
[submodule "externals/cryptopp-cmake"]
	path = externals/cryptopp-cmake
	url = https://github.com/shadps4-emu/ext-cryptopp-cmake.git
[submodule "externals/cryptopp"]
	path = externals/cryptopp
	url = https://github.com/shadps4-emu/ext-cryptopp.git
[submodule "externals/cryptoppwin"]
	path = externals/cryptoppwin
	url = https://github.com/shadps4-emu/ext-cryptoppwin.git
[submodule "externals/zlib-ng"]
	path = externals/zlib-ng
	url = https://github.com/shadps4-emu/ext-zlib-ng.git
[submodule "externals/sdl3"]
	path = externals/sdl3
	url = https://github.com/shadps4-emu/ext-SDL.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadps4-emu/ext-fmt.git
[submodule "externals/vulkan-headers"]
	path = externals/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "externals/vma"]
	path = externals/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "externals/glslang"]
	path = externals/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "externals/robin-map"]
	path = externals/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "externals/xbyak"]
	path = externals/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "externals/winpthreads"]
	path = externals/winpthreads
	url = https://github.com/shadps4-emu/winpthreads.git
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "externals/zydis"]
	path = externals/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "externals/sirit"]
	path = externals/sirit
	url = https://github.com/shadps4-emu/sirit.git
[submodule "externals/xxhash"]
	path = externals/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "externals/tracy"]
	path = externals/tracy
	url = https://github.com/shadps4-emu/tracy.git
[submodule "externals/boost"]
	path = externals/boost
	url = https://github.com/shadps4-emu/ext-boost.git
