[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL
	shallow = true
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
	shallow = true
[submodule "third-party/magic_enum"]
	path = third-party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
	shallow = true
[submodule "third-party/zydis"]
	path = third-party/zydis
	url = https://github.com/zyantific/zydis.git
	shallow = true
[submodule "third-party/winpthread"]
	path = third-party/winpthread
	url = https://github.com/shadps4/winpthread.git
	branch = main
[submodule "third-party/toml11"]
	path = third-party/toml11
	url = https://github.com/ToruNiina/toml11
	branch = master
[submodule "third-party/xxHash"]
	path = third-party/xxHash
	url = https://github.com/Cyan4973/xxHash.git
	branch = dev
[submodule "externals/ps4libdoc"]
	path = externals/ps4libdoc
	url = https://github.com/idc/ps4libdoc.git
	branch = 9.00
[submodule "third-party/vulkan"]
	path = third-party/vulkan
	url = https://github.com/GPUCode/vulkan
[submodule "externals/discord-rpc"]
	path = externals/discord-rpc
	url = https://github.com/shadps4-emu/ext-discord-rpc.git
	branch = master
[submodule "externals/cryptopp-cmake"]
	path = externals/cryptopp-cmake
	url = https://github.com/shadps4-emu/ext-cryptopp-cmake.git
	branch = master
[submodule "externals/cryptopp"]
	path = externals/cryptopp
	url = https://github.com/shadps4-emu/ext-cryptopp.git
	branch = master
[submodule "externals/cryptoppwin"]
	path = externals/cryptoppwin
	url = https://github.com/shadps4-emu/ext-cryptoppwin.git
	branch = main
[submodule "externals/zlib-ng"]
	path = externals/zlib-ng
	url = https://github.com/shadps4-emu/ext-zlib-ng.git
[submodule "externals/zlib-ng-win"]
	path = externals/zlib-ng-win
	url = https://github.com/shadps4-emu/ext-zlib-ng-win.git